/*Header*/
.logo__img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.navbar-light .navbar-brand {
  font-family: "Poppins", sans-serif;
  font-weight: 520;
}

/*Footer*/
.footer {
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: center;
}

.footer__info {
  font-family: "Poppins", sans-serif;
  text-align: center;
}

/* Whole part*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--color-primary) !important;
}
html,
body {
  height: 100%;
  width: 100%;
}

/*button*/
.submitBtn:hover {
  font-weight: bolder !important;
  background-color: white !important;
}
.landBtn {
  border: 1px solid var(--color-primary) !important;
}
.landBtn:hover {
  font-weight: bolder !important;
}

/*card */
.card_heading {
  display: flex;
  cursor: pointer;
}
.card_heading_title {
  color: black;
  flex: 1;
  align-self: center;
  font-size: 18;
}
.card_block {
  border-style: none !important;
}
.category_badge {
  border-radius: 3%;
  background-color: green;
  color: white !important;
  font-weight: bolder;
  font-size: 80%;
  padding: 5px;
}

/*
Link
*/
.link-hover:hover {
  text-decoration: underline;
}
